<div *ngIf="calling">
        <div id="mydiv">
                <img src="../../assets/images/Loading_icon.gif" class="ajax-loader" alt="calling to bluemix service"/>
        </div>
</div>



<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
</div>


<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">

            <h4>
               <b>Topics</b> 
            </h4>


            <br>
            <div class="col-sm-2 sidenav" class="w-100 p-3" style="background-color: #eee;height:70px;vertical-align:middle;">

                <ul class="nav nav-pills nav-stacked">

                    <li>
                        <div *ngFor="let allTopic of allTopics; let i = index">
                            <a href="#List-{{ i }}" (click)="getSubTopics(allTopic.topics)" 
                            
                            class="btn button" data-toggle="collapse"><b>{{allTopic.topics}}</b> </a> <br>

                        </div>
                    </li>
                </ul>
                <br>
            </div>
           
        </div>

        <div class="col-sm-10">
            <div style="background-color: #eee;height:auto!important;">
                <br>
                <div class="col-sm-8" style="float:left;margin-top: -18px;">
                    <input [(ngModel)]="this.SearchValue" type='text' placeholder="Your GDPR query ..." class="form-control" />
                </div>
                <div style="float:left;margin-top: -15px;">
                    <button class="btn-primary" (click)="getSearchResult()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <br>
            </div>
            <hr>


            <div class="col-sm-10">
                <br>
                <div class="w-100 p-3" style="background-color: #eee;height:auto;vertical-align:middle; text-align: center;">
                        <br>
                    <div *ngIf="this.subTopicList.length > 0">
                        <div *ngFor="let dr of this.subTopicList; let iSubTopic = index">
                            <div *ngIf="dr.topic==this.selTopic">
                                <div *ngFor="let record of dr.subTTopic; let x=index">
                                    <div style="float:left">
                                        <button (click)="getSubTopicsData(record.title)" type="button" class="btn button">{{record.title}}</button>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            
                <br>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="col-sm-10" >
                <table>
                    <tr style="vertical-align: text-top;">
                        <td>
                           <div  style="padding:10px; margin: 4px 6px;background-color: #eee;"><b>Recitals</b></div>
                            <div style="padding:10px; margin: 6px 10px; overflow-y: scroll;height:700px;">
                                    <revisionS  [IsSearch]="this.isSearch" [confList]="this.confList" [confidanceList]="this.confidanceList" [revisionList]="this.recitleNumList" [revisionData]="this.rTitles"></revisionS>
                            </div>
                         </td>
                        <td>
                           <div></div>
                        </td>
                        <td>
                            <div style="padding:10px; margin: 6px 10px; background-color: #eee;"><b>Articles</b></div>
                            <div style="padding:10px; margin: 6px 10px;overflow-y: scroll;height:700px;">
                                <articleS [IsSearch]="this.isSearch" [confList]="this.confList" [confidanceList]="this.confidanceList" [articleList]="this.articlNumList" [articleData]="this.aTitles"></articleS>

                            </div>
                      
                        </td>
                    </tr>
                </table>
            </div>















        </div>
    </div>
</div>