<table class="table table-responsive table-hover"
                    *ngIf='allSubTopics && allSubTopics.length'>
                    <thead><tr><th>Sub Topics</th></tr></thead>                 
                <tbody>
                    <tr class="container" *ngFor="let allSubTopics of allSubTopics; let iSubTopic = index">
                      <td>
                          <a href="#SubtopicList-{{ iSubTopic }}" class="btn btn-info" data-toggle="collapse">{{allSubTopics.topics}}</a>

             
                      </td>
                    </tr>
                    </tbody>
</table>
                                              